<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.filmsfinder.mapper.DownloadLinkMapper">
    <resultMap id="linkResult" type="com.example.filmsfinder.domain.DownloadLink">
        <id property="id" column="id"/>
        <result property="movieId" column="movie_id"/>
        <result property="url" column="url"/>
        <result property="accessLevel" column="access_level"/>
        <result property="category" column="category"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="resolution" column="resolution"/>
    </resultMap>

    <select id="selectByMovieId" parameterType="long" resultMap="linkResult">
        SELECT *
        FROM download_link
        WHERE movie_id = #{movieId}
    </select>

    <select id="selectById" parameterType="long" resultMap="linkResult">
        SELECT *
        FROM download_link
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.filmsfinder.domain.DownloadLink">
        INSERT INTO download_link
        (movie_id, url, access_level, category, file_name, file_size, resolution)
        VALUES (#{movieId}, #{url}, #{accessLevel}, #{category}, #{fileName}, #{fileSize}, #{resolution})
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM download_link
        WHERE id = #{id}
    </delete>
</mapper>
