<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.filmsfinder.mapper.UserMapper">
    <select id="findByUsername" resultType="com.example.filmsfinder.domain.User">
        SELECT id, username, password, user_type AS userType
        FROM user
        WHERE username = #{username}
    </select>
    <insert id="insert" parameterType="com.example.filmsfinder.domain.User">
        INSERT INTO user (username, password, user_type)
        VALUES (#{username}, #{password}, #{userType})
    </insert>
</mapper>